<svg class="canvas">
  <ng-container appCanvasAnchor></ng-container>
</svg>
<div>
  <label>type: </label>
  <select #type>
    <option *ngFor="let type of keys(ShapeTypeEnum)" [value]="type">
      {{ type }}
    </option></select
  ><br />
  <label>x: </label><input #x type="number" /><br />
  <label>y: </label><input #y type="number" /><br />
  <label>h: </label><input #h type="number" /><br />
  <label>w: </label><input #w type="number" /><br />
  <button (click)="addShape(type.value, x.value, y.value, h.value, w.value)">
    add shape</button
  ><br />
  <button (click)="clear()">clear</button>
  <ul>
    <li *ngFor="let element of shapeList">
      {{ element.type }} : {{ json.stringify(element.data) }}
    </li>
  </ul>
</div>
