
<form [formGroup]="shapeForm">
  <div class="tool">
    <div class="tool-col">
      <div formGroupName="center">
        <label for="rect-tool-center-x">x:</label>
        <input id="rect-tool-center-x" type="number" formControlName="x" /><br />
        <label for="rect-tool-center-x">y:</label>
        <input id="rect-tool-center-x" type="number" formControlName="y" /><br />
      </div>
      <label for="rect-tool-width">width:</label>
      <input id="rect-tool-width" type="number" formControlName="width" /><br />
      <label for="rect-tool-height">height:</label>
      <input id="rect-tool-height" type="number" formControlName="height" /><br />
      <label for="rect-tool-rot">rot:</label>
      <input id="rect-tool-rot" type="number" formControlName="rotation" /><br />
    </div>
    <div class="tool-col">
      <div formGroupName="properties">
        <label for="rect-tool-prop-fill">fill:</label>
        <input id="rect-tool-prop-fill" type="string" formControlName="fill" /><br />
        <label for="rect-tool-prop-stroke">stroke:</label>
        <input id="rect-tool-prop-stroke" type="string" formControlName="stroke" /><br />
        <label for="rect-tool-prop-stroke-width">str width:</label>
        <input id="rect-tool-prop-stroke-width" type="string" formControlName="strokeWidth" /><br />
      </div>
    </div>
  </div>
  <button type="button" (click)="submitValue(shapeForm.value)">
    add shape
  </button>
</form>
<div>
  <pre>{{ JSON.stringify(shapeForm.value, null, 2) }}</pre>
</div>
