<svg class="canvas">
  <ng-container *ngFor="let shape of getShapes()">
    <ng-container
      dynamic-svg
      [shape]="shape"
      [isSelected]="shape == selectedShape"
      (click)="selectShape($event)"
    ></ng-container>
  </ng-container>
</svg>

<ul>
  <li *ngFor="let shape of getShapes()">
    {{ shape.type }}: {{ shape == selectedShape }}
  </li>
</ul>

<div>
  <label>new shape type: </label>
  <select
    #toolSelect
    [(ngModel)]="selectedTool"
    (ngModelChange)="onChangeTool()"
  >
    <option [ngValue]="null">None</option>
    <option [ngValue]="ShapeTypeEnum.Rectangle">Rectangle</option>
    <option [ngValue]="ShapeTypeEnum.Ellipse">Ellipse</option>
  </select>
  <div appToolHost></div>
  <button (click)="clear()">clear</button>
</div>
