<svg class="canvas">
  <ng-container *ngFor="let shape of getShapes()">
    <ng-container dynamic-svg [shape]="shape"></ng-container>
  </ng-container>
</svg>
<div>
  <!-- <label>type: </label>
  <select #type>
    <option *ngFor="let type of keys(ShapeTypeEnum)" [value]="type">
      {{ type }}
    </option></select
  ><br /> -->
  <label>x: </label><input #x type="number" /><br />
  <label>y: </label><input #y type="number" /><br />
  <!-- <label>h: </label><input #h type="number" /><br />
  <label>w: </label><input #w type="number" /><br /> -->
  <button (click)="addShape(x.value, y.value)">add shape</button><br />
  <button (click)="clear()">clear</button>
</div>
